<p>
  <b>Name:</b>
  <%=h @author.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @author.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @author.website %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
