<%= render :partial => @user %>


<% if !@user.posts.blank? %>
  <h2>Posts</h2>
  <ul>
    <% for post in @user.posts %>
      <li><%= link_to post.title, post %> <em>(<%= time_ago_in_words(post.updated_at) %> ago)</em></li>
    <% end %>
  </ul>
<% else %>
  <p>This user hasn't written any posts.</p>
<% end %>

<% if !@user.comments.blank? %>
  <h2>Comments</h2>
  <ul>
    <% for comment in @user.comments %>
      <li>
        <%= link_to time_ago_in_words(comment.updated_at), comment.post %> ago on <%= link_to comment.post.title, post %>
        <!-- TODO: link to comment -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>This user hasn't written any comments.</p>
<% end %>

