<%= link_to '&laquo; All Users', users_path %>

<%= render :partial => @user %>

<% if !@user.events.blank? %>
  <ul>
  <!-- TODO: make this more flexible... switch statement? partials? -->
  <% for event in @user.events.reverse %>
    <li>
    <% if event.item_class == 'Post' %>
      <% if event.action == 'create' %>
        wrote <%= link_to event.item.title, event.item %>
      <% elsif event.action == 'update' %>
        updated <%= link_to event.item.title, event.item %>
        <!-- TODO: provide more detail about what was changed. diff, "renamed _ to _", etc -->
      <% end %>      
    <% elsif event.item_class == 'Comment' %>
      commented on <%= link_to event.item.post.title, event.item.post %>
      <!-- TODO: link to comment -->
      <!-- TODO: show beginning of comment -->
    <% end %>
    <%= time_ago_in_words(event.created_at) %> ago
    </li>
  <% end %>
  </ul>
<% else %>
  <p>This user hasn't done anything. Lazy bum.</p>
<% end %>
