<%= link_to '&laquo; All Users', users_path %>

<%= render :partial => @user %>

<% if !@user.events.blank? %>
  <ul>
  <!-- TODO: make this more flexible... switch statement? partials? -->
  <!-- TODO: split by day -->
  <% for event in @user.events.reverse %>
    <li>
    <%= time_ago_in_words(event.created_at) %> ago: 
    <% if event.item_class == 'Post' %>
      <% if event.action == 'create' %>
        wrote <%= link_to event.item.title, event.item %>: <em><%= truncate event.item.body %></em>
      <% elsif event.action == 'update' %>
        <% if event.changes.keys.include? 'title' %><!-- TODO: what if multiple attrs have changed? -->
          changed the title of
          <%= link_to event.changes['title'].first, event.item %> to
          <%= link_to event.changes['title'].second, event.item %>
        <% elsif event.changes.keys.include? 'body' %>
          updated <%= link_to event.item.title, event.item %>:
          <%= diff(event.changes['body'][0],event.changes['body'][1]) %>
          <!-- TODO: diff -->
        <% end %>
      <% end %>      
    <% elsif event.item_class == 'Comment' %>
      commented on
      <%= link_to event.item.post.title, post_path(event.item.post, :anchor => "comment_#{event.item.id}") %>: 
      <em>"<%= truncate event.item.body %>"</em>
    <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>This user hasn't done anything. Lazy bum.</p>
<% end %>
