<div class="post">
    <h2><%= link_to post.title, post %></h2>
    <span class="time" title="<%= post.updated_at %>"><%= time_ago_in_words(post.updated_at) %> ago</span> by 
    <span class="author"><%= link_to post.owner.name, post.owner %></span>;
    <span class="comments_link"><% unless post.comments.blank? %>
      <%= link_to pluralize(post.comments.length,'comment'), post_path(post, :anchor => 'comments') %>
    <% else %>
      <%= link_to 'No comments', post %>
    <% end %></span>
    <% unless post.edits.blank? %>
        and <%= link_to pluralize(post.edits.length,'edit'), post_path(post, :anchor => 'comments') %>
    <% else %>
        
    <% end -%><br/>
    <div class="body">
        <%= textilize(post.body) %>
    </div>
</div>
