<%= render :partial => @post %>

<h2>Comments</h2>
<div class="comments">
    <% if !@post.comments.blank? %>
      <%= render :partial => @post.comments %>
      <h3>Leave Another Comment</h3>
    <% else %>
      <h3>Leave the First Comment</h3>
    <% end %>

    <% form_for [@post, Comment.new] do |f| %>
        <% if logged_in? %>
            <p>logged in as <%= current_user.name %> <%= link_to "Log Out &raquo;", logout_path %></p>
        <% else %>
            <p><%= link_to "Log in &raquo;", login_path %></p>
        <% end -%>
        <p>
            <%= f.text_area :body %>
        </p>
        <p>
            <%= f.submit 'Speak' %>
        </p>
    <% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', posts_path %>
