<%= render :partial => @post %>

<h2>Comments</h2>
<div id="comments">
    <% if !@post.comments.blank? %>
      <%= render :partial => @post.comments %>
      <!-- TODO: is this looping through the comments? what if I want a <ul>? -->
      <!-- TODO: nested comments or Trac-style followup link -->
      <!-- TODO: insert update notifications -->
      <h3 id="leave_comment">Leave Another Comment</h3>
    <% else %>
      <h3 id="leave_comment">Leave the First Comment</h3>
    <% end %>

    <% form_for [@post, Comment.new] do |f| %>
        <% if logged_in? %>
            <p>logged in as <%= link_to current_user.name, current_user %>
            <em><small><%= link_to "Log Out &raquo;", logout_path %></small></em></p>
        <% else %>
          <!-- TODO: create account, session automatically -->
            <p><%= link_to "Log in &raquo;", login_path %></p>
        <% end -%>
        <p>
            <%= f.text_area :body %>
        </p>
        <p>
            <%= f.submit 'Speak' %>
        </p>
    <% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', posts_path %>
